
<style type="text/css" media="screen">
    
</style>

<div id="touch-welcome">
    <div class="top">
        <h1 class="about-title">Appverse Mobile Platform 3.8</h1>
        <h2 class="about-subtitle">Features to <b class="greenyellow">help you</b> to test and publish your apps to many <b class="blueViolet">Mobile Devices</b>.</h2>
        <div class="section">
            <h3><a href="#!/api">API Documentation<span></span></a></h3>
            <p>Dive right in and explore our <b><i>native features</i></b> accessible from HTML applications via <b><i>Javascript interfaces</i></b>.</p>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-logo">
            <img src="resources/images/logo_128px.png"/>
        </div>
        <div class="bottom-right">

        </div>
    </div>
</div>
